<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Django App</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include 'main/header.html' %}
    {% block content %}
    <div class="grid-container">
        {% for todo in todos %}
            <div class="todo-container">
                <a href="{% url 'todos' todo.id%}">{{ todo }}</a>
                <a href="{% url 'home' todo.id %}"><i class="fas fa-times"></i></a>
            </div>
        {% endfor %}
    </div>
    {% endblock content %}
</body>
</html>